version: "3.8"

services:
  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - database
  database:
    image: postgres:15
    environment:
      POSTGRES_USER: teste
      POSTGRES_PASSWORD: teste123
      POSTGRES_DB: testedb
    volumes:
      - my_pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  my_pgdata:
